@import "tailwindcss";

@theme {
    --color-primary: #003177;
    --color-secondary: #EA0029;
    --color-cardBorder: #F7F7F7;
    --color-textPrimary: #B5B5B5;
}
@layer {
    button {
        @apply cursor-pointer;
    }
}